<div class="stdForm">
	<label>First Name:</label>
	<input type="text" name="student[firstname]" required>
	<br><br>

	<label>Last Name:</label>
	<input type="text" name="student[lastname]">
	<br><br>

	<label>Student ID:</label>
	<input type="text" name="student[studentid]" required>
	<br><br>

	<label>DOB(mm/dd/yyyy):</label>
	<input type="text" name="student[birthday]">
	<br><br>

	<label>Address:</label>
	<input type="text" name="student[address]">
	<br><br>
</div>
<input type="submit" value="Save Record">